* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

/*Main*/
html, body {
    height: 100%;
}

body {
    background-color: white;
}

p {
    font-size: 18px;
    margin: 20px 20px 0 0;
    color: black;
    line-height: 1.5;
}

a {
    color: #123e7a;
}
nav a:hover {
    background-color: #a3a3a3;
}

a:visited {
    color: #0b3d83;
}

main {
    margin: 10px auto;
    width: 80%;
}

section {
    position: relative;
    margin: 20px 0 30px 0;
    border-left: 4px #838383 solid;
    padding: 20px;
    transition: ease-in .3s box-shadow;
}

section:hover {
    box-shadow: -10px 10px 12px #cacaca;
    transition: ease-in .3s box-shadow;
}

section::before {
    content: attr(data-descr);
    color: #002457;
    position: absolute;
    z-index: 3;
    left: -8%;
    font-size: 3vh;
}

footer {
    padding: 15px;
}

/*Header*/
#decor {
    background: url("../images/20211203_210717.jpg");
    z-index: 0;
    height: 300px;
    position: relative;
    background-position: 50% 60%;
    border-bottom: 1px #000000 dotted;
}
header {
    width: 100%;
    font-size: 9vh;
    position: absolute;
    top: 0;
    background-color: #b6b6b6;
    color: #002457;
}

#decor::after {
    content: attr(data-descr);
    position: absolute;
    font-size: 3vh;
    right: 10%;
    z-index: 3;
    background-color: #b6b6b6;
    padding: 10px;
    top: 50%;
    box-shadow: 3px 3px #3A1726,
    6px 6px #002457,
    9px 9px #3A1726;
}

/*Navigation*/
nav { 
    z-index: 2;
    padding: 5px;
    text-align: right;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #838383;
}
ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 0 10px;
}

/*Section One*/
#one {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
}

#one img {
    margin: 40px 40px 40px 20px;
    border-radius: 45%;
    height: 300px;
    width: auto;
    display: inline;
}

/*Section Two*/
#two {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    display: flex;
}

#two :first-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.entry {
    border: #3A1726 solid 2px;
    width: 730px;
    height: 300px;
    margin: 6px 4px;
    position: relative;
    background: radial-gradient(circle, rgba(67,87,193,1) 0%, rgba(0,36,87,1) 100%);
    overflow: hidden;
}

.entry:nth-child(1) {
    height: 400px;
    align-self: flex-start;
    flex: 5 100%;
}

.entry::after {
    content: attr(data-descr);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    background: #3A1726;
    border-radius: 30px 0 0 0;
    border-right: #6A4453 solid 2px;
    border-bottom: #6A4453 solid 2px;
    color: aliceblue;
}

.entry img {
    width: 100%;
    height: 100%;
    object-fit: fit;
    transition: all .4s ease-in;
}

.entry img:hover {
    opacity: 50%;
    transition: all.4s ease-in;
    transform: scale(1.2);
}

/*Section Three*/
#three {
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
}
#three div {
    height: auto;
    width: 100%;
    margin: 40px 40px;
}
#three a {
    text-decoration: underline solid #3A1726 3px;
    margin: 0 30px;
    position: relative;
}
#three a:hover {
    background-color: #b6b6b6;
}
#three a:active {
    background-color: #838383;
    color: black;
}

@media screen and (max-width: 992px) {
    section::before {
        left: 10%;
        top: -2%;
    }

    nav {
        border: none;
        width: 100%;
        text-align: center;
        top: 100%;
        background-color: #b6b6b6;
        z-index: -1;
    }

    #decor::after {
        top: 70%;
        width: auto;
        box-shadow: none;
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        box-shadow: none;
        z-index: 2;
    }

    main {
        width: 100%;
    }

    section::before {
        left: 10%;
        top: -1%;
    }

    #decor {
        background-size: cover;
    }

    #two .entry {
        flex-direction: column;
        width: 100%;
    }

    .entry img {
        transform: scale(2);
    }

    .entry:nth-child(1) {
        height: 300px;
        align-self: flex-start;
        flex: 5 100%;
    }

    #one {
        flex-direction: column;
    }

    #one img {
        width: 90%;
        height: auto;
        margin: 20px auto;
    }

    #three, #three a {
        text-align: left;
        margin: 0 auto;
    }
    .entry img:hover {
        opacity: 50%;
        transition: all.4s ease-in;
        transform: scale(2);
    }
}

@media screen and (max-width: 576px) {
    .entry img {
        transform: scale(3);
    }
}