* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

/*Main*/
html, body {
    height: 100%;
}

body {
    background-color: white;
}

p {
    font-size: 18px;
    margin: 20px 20px 0 0;
    color: black;
    line-height: 1.5;
}

a {
    color: #BDA5AD;
}

a:active {
    color: #A0ACBD;
}

a:visited {
    color: #A0ACBD;
}

main {
    margin: 10px auto;
    width: 70%;
}

section {
    position: relative;
    margin: 0 0 30px 0
}

section::before {
    content: attr(data-descr);
    padding: 15px;
    background: #3A1726;
    border-left: #6A4453 solid 2px;
    border-top: #6A4453 solid 2px;
    color: aliceblue;
    position: absolute;
    z-index: 3;
}

footer {
    padding: 15px;
}

/*Header*/
#decor {
    background-image: url("../images/2d0c8413.png");
    z-index: 0;
    height: 200px;
    position: relative;
}
header {
    width: 54%;
    font-size: 13vh;
    position: absolute;
    bottom: 0;
    box-shadow: 5px 0px 0 #6A4453;
}

header, nav, footer {
    background-color: #3A1726;
    color: #A0ACBD;
}

/*Navigation*/
nav { 
    z-index: 2;
    padding: 5px;
}
ul {
    list-style-type: none;
}

li {
    display: inline;
}

/*Section One*/
#one {
    width: 100%;
    height: 400px;
    position: relative;
}

#one img {
    border-radius: 10% 10%;
    margin: 0 auto;
    height: 300px;
    width: auto;
    display: inline;
}
/*Section Two*/
#two {
    width: 100%;
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#two :first-child {
    align-self: flex-start;
    flex: 5 100%;
}

.entry {
    border: #3A1726 solid 2px;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    background: #00AFB0;
}

.entry::after {
    content: attr(data-descr);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    background: #3A1726;
    border-right: #6A4453 solid 2px;
    border-bottom: #6A4453 solid 2px;
    color: aliceblue;
}

.entry img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.entry img:hover {
    opacity: 40%;
    transition: ease-in .3s opacity;
}

/*Section Three*/
#three {
    width: 100%;
    height: 50%;
    color: black;
}


@media screen and (max-width: 768px) {
    header {
        width: 100%;
        box-shadow: none;
    }

    main {
        width: 100%;
    }

    #two .entry {
        flex-direction: column;
        width: 100%;
    }
}