* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: #A0ACBD;
}

/*Main*/
body {
    background-color: #00253D;
}

main {
    margin: 10px auto;
    width: 80%;
}

main > * {
    margin: 15px auto;
}
/*Header*/
#decor {
    background-image: url("../images/2d0c8413.png");
    z-index: 0;
    height: 200px;
    position: relative;
}
header {
    width: 54%;
    font-size: 13vh;
    position: absolute;
    bottom: 0;
    box-shadow: 5px 0px 0 #6A4453;
}

header, nav {
    background-color: #3A1726;
}

/*Navigation*/
nav { 
    z-index: 2;
    box-shadow: 0px 5px 0 #6A4453;
    padding: 5px;
}
ul {
    list-style-type: none;
}

li {
    display: inline;
}

/*Section One*/

/*Section Two*/
#two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#two :first-child {
    width: 100%;
    height: 600px;
}

.entry {
    border: #3A1726 solid 2px;
    width: 50%;
    height: 300px;
}
.entry img {
    margin: 0;
    
}

/*Section Three*/


@media screen and (max-width: 768px) {
    header {
        width: 100%;
        box-shadow: none;
    }
}